@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.active {
    border: 4px solid #4D4D4D!important;
}

.presets {
    display: flex;
}

.preset {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 15px;
    padding: 20px;
    border: 4px solid transparent;
    gap: 10px;
}

.preset__thumb, .vacina__thumb {
    max-width: 150px;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
}

.preset__title {
    font-size: 18px;
    text-align: center;
}

.preset__option, .vacina__option {
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    appearance: none;
    border-radius: 15px;
    margin: 0;
}

.preset__option:checked, .vacina__option:checked {
    border: 4px solid black;
}

.preset__option:checked + .preset__title {
    font-weight: bold;
}

.grupos {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.grupo {
    display: flex;
    padding: 22px 20px;
    flex-direction: column;
    gap: 10px;
    appearance: none;
}

.vacinas {
    display: flex;
    gap: 10px;
}

.vacina {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    position: relative;
    max-width: 125px;
    font-size: 12px;
    text-align: center;
}
