@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.presets {
    display: flex;
    padding: 30px;
    gap: 10px;
}

.preset {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 15px;
    padding: 20px;
    gap: 10px;
}

.preset__thumb {
    max-width: 140px;
}

.vacina__thumb {
    max-width: 110px;
}

.preset__thumb, .vacina__thumb {
    height: auto;
    object-fit: cover;
    text-align: center;
    object-position: center;
    border-radius: 15px;
}

.preset__title {
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    color: hsl(0, 0%, 20%)
}

.preset__option, .vacina__option {
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    appearance: none;
    border-radius: 15px;
    margin: 0;
    transition: .2s;
    box-shadow: none;
}

.preset__option:checked, .vacina__option:checked {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: .2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preset__option:checked:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f00c';
    font-size: 26px;
    width: 48px;
    height: 48px;
    justify-content: center;
    margin-bottom: 30px;
    align-items: center;
    color: #9F39A5;
    background-color: white;
    display: flex;
    border-radius: 50px;
}

.grupos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 1200px;
}

.grupo {
    display: flex;
    padding: 24px 20px;
    flex-direction: column;
    gap: 10px;
    border: unset;
    appearance: none;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.04) 0px 7px 29px 0px;
}

.vacinas {
    display: flex;
    gap: 10px;
}

.grupo__option {
    font-size: 20px;
    display: flex;
    gap: 10px;
    font-weight: 600;
    color:hsl(0, 0%, 30%);
    cursor: pointer;
}

input[type="checkbox"]{
    transform: scale(1.4);
}

/* TO-DO: personalizar checkbox */

input[name="vacina__option"] {
    position: absolute;
    top: 20px;
    right: 15px;
    transform: scale(1.6);
}

.vacina {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    max-width: 120px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}

.ajusteQuantidade {
    padding: 5px;
    display: none;
    align-items: center;
    border-radius: 10px;
}

.ajusteQuantidade__aumentar, .ajusteQuantidade__diminuir {
    appearance: none;
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid grey;
}

.ajusteQuantidade__aumentar, .ajusteQuantidade__diminuir, .ajusteQuantidade__valor {
    padding: 0px 10px;
}

.ajusteQuantidade__aumentar {
    border-radius: 0 5px 5px 0;
    border-left: 0;
}

.ajusteQuantidade__diminuir {
    border-radius: 5px 0 0 5px;
    border-right: 1px solid grey;
}

.ajusteQuantidade__valor {
    border: none;
    width: 100%;
    font-size: 14px;
    height: 100%;
}

#etapa-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sumario__vacina, .sumario__lista, .sumario__titulo {
    display: flex;
}

.sumario {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    justify-content:space-around;
}

.sumario__grupo {
    padding: 10px;
    border-radius: 20px;
    width: 100%;
}

.sumario__titulo {
    align-items: center;
    width: 100%;
    font-size: 18px;
    text-align: center;
}

.sumario__lista {
    flex-direction: column;
    gap:3px;
    justify-content: center;
    padding: unset;
}

.sumario__thumbnail {
    max-width: 28px;
    height: 28px;
    border-radius: 5px;
}

.sumario__vacina {
    align-items: center;
    gap: 3px;
    font-size: 13px;
}

.wrapper {
    margin-top: 10px;
    padding: 30px;
    box-shadow: rgba(17, 12, 46, 0.05) 0px 48px 100px 0px;
    border-radius: 20px;
}

form > fieldset {
    border: unset;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
}


.proxima-etapa {
    background-color: #9F39A5;
    cursor: pointer;
    border: unset;
    padding: 12px 18px;
    color: white;
    font-weight: 700;
    text-transform: lowercase;
    font-size: 17px;
    border-radius: 10px;
}

.proxima-etapa:active {
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
}

.etapa-anterior {
    font-size: 17px;
    text-decoration: underline;
    background: unset;
    border: unset;
    color: hsl(0, 0%, 20%);
    cursor: pointer;
}

.botoes {
    display: flex;
    gap: 20px;
}