@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.active {
    border: 4px solid #4D4D4D!important;
}

.presets {
    display: flex;
}

.preset {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 15px;
    padding: 20px;
    border: 4px solid transparent;
    gap: 10px;
}

.preset__thumb, .vacina__thumb {
    max-width: 150px;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
}

.preset__title {
    font-size: 18px;
    text-align: center;
}

.preset__option, .vacina__option {
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    appearance: none;
    border-radius: 15px;
    margin: 0;
}

.preset__option:checked, .vacina__option:checked {
    border: 4px solid black;
}

.grupos {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.grupo {
    display: flex;
    padding: 22px 20px;
    flex-direction: column;
    gap: 10px;
    appearance: none;
}

.vacinas {
    display: flex;
    gap: 10px;
}

.vacina {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    position: relative;
    max-width: 125px;
    font-size: 12px;
    text-align: center;
}

.ajusteQuantidade {
    padding: 5px;
    display: none;
    align-items: center;
    border-radius: 10px;
}

.ajusteQuantidade__aumentar, .ajusteQuantidade__diminuir {
    appearance: none;
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid grey;
}

.ajusteQuantidade__aumentar, .ajusteQuantidade__diminuir, .ajusteQuantidade__valor {
    padding: 0px 10px;
}

.ajusteQuantidade__aumentar {
    border-radius: 0 5px 5px 0;
    border-left: 0;
}

.ajusteQuantidade__diminuir {
    border-radius: 5px 0 0 5px;
    border-right: 1px solid grey;
}

.ajusteQuantidade__valor {
    border: none;
    width: 100%;
    font-size: 14px;
    height: 100%;
}

#etapa-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sumario__vacina, .sumario__lista, .sumario__titulo {
    display: flex;
}

.sumario {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    justify-content:space-around;
}

.sumario__grupo {
    padding: 10px;
    border-radius: 20px;
    width: 100%;
}

.sumario__titulo {
    align-items: center;
    width: 100%;
    font-size: 18px;
    text-align: center;
}

.sumario__lista {
    flex-direction: column;
    gap:3px;
    justify-content: center;
    padding: unset;
}

.sumario__thumbnail {
    max-width: 28px;
    height: 28px;
    border-radius: 5px;
}

.sumario__vacina {
    align-items: center;
    gap: 3px;
    font-size: 13px;
}

.wrapper {
    margin-top: 10px;
    padding: 30px;
    box-shadow: rgba(17, 12, 46, 0.05) 0px 48px 100px 0px;
    border-radius: 20px;
}

form > fieldset {
    border: unset;
    background-color: hsl(0, 90%, 100%);
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}